html {
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

*,
::before,
::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    background-color: #D5DFE5;
}

header {
    width: 100%;
    background-color: #D57A66;
    height: 60px;
    box-shadow: 1px 1px 1px 1px #0000001c;
    color: white;
}

main {
    background-color: #D5DFE5;
}

header .container{
    max-width: 900px;
    margin: 0 auto;
    height: inherit;
    padding: 0 20px;
    background-color: #D57A66;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.sticky{
    position: sticky;
    top: 0;
}

.navbar .item{
    display: flex;
    align-items: center;
    gap: 8px;
}

.navbar .item i {
    font-size: 24px;
    transition: 0.3s;
}

.posts{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 35px;
    padding-bottom: 50px;
    margin: 0;
}

.img-container{
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.img img{
    width: 100%;
}

.photo-user{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: #4C061D;
}

.time-ago{
    font-size: 10px;
    padding-top: 5px;
    display: flex;
    justify-content:left;

}

.imgfooter i{
    font-size: 25px;
    color: #73648A;
}

.instaicon:hover{
    font-size: 20px;
    color: aqua;
    cursor: pointer;
}

.containerfoot{
    max-width: 900px;
    width: 100%;
    height: 150px;
    margin: 0;
    padding: 0 10px;
    font-family: monospace;
    background-color: #73648A;
    color: white;
    display: flex;

}

h3 {
    padding-top: 10px;
    padding-bottom: 15px;
}

.profile{
    padding-right: 15px;
}

.profile:hover{
    font-size: 20px;
    color: aqua;
    cursor: pointer; 
}

.notif:hover{
    font-size: 20px;
    color: aqua;
    cursor: pointer;
 }

 .ul1 {
     padding-bottom: 15px;
     display: grid;
     list-style-type: none;
     display: flex;
     flex-direction: column;
     gap: 5px;
     color: white;
 }

 a{
     color: white;
     font-size: 25px;
 }

 a:hover{
    font-size: 30px;
    color: aqua;
    cursor: pointer; 
 }

 a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
